<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="FlaskHandler" 
                 path="*" 
                 verb="*" 
                 modules="FastCgiModule" 
                 scriptProcessor="C:\inetpub\wwwroot\aman_contracts\venv\Scripts\python.exe|C:\inetpub\wwwroot\aman_contracts\venv\Lib\site-packages\wfastcgi.py" 
                 resourceType="Unspecified" 
                 requireAccess="Script" />
        </handlers>
        <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="16777216" />
            </requestFiltering>
        </security>
    </system.webServer>
    <appSettings>
        <add key="PYTHONPATH" value="C:\inetpub\wwwroot\aman_contracts" />
        <add key="WSGI_HANDLER" value="app.app" />
    </appSettings>
</configuration> 